/* You can add global styles to this file, and also import other style files */
body {
  background-image: url(../public/image/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.footer {
  text-align: center;
  padding: 15px;
  background-color: rgb(9, 98, 9);
  border-top: 2px solid black;
  margin-top: 30px;
}
