{% extends "base.html.twig" %}
{% block title %}About{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/about.css')}}">
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-4">About Page</h1>
    </div>
{% endblock %}