* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#santa {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    width: 50%;
    text-align: center;
}

#santa img {
    width: 150px;
}