{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <div class="text-center mt-5">
        <h1>Hello {{user.firstName}} {{user.lastName}}</h1>
        <h3>Welcome to the Home page</h3>
    </div>
{% endblock %}
