* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#circle {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    border: 2px solid black;
    display: inline-block;
}

#dot {
    width: 100%;
    margin-top: 45%;
    margin-left: 25%;
}