@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Navbar START */

.caveat {
  font-family: "Caveat", cursive;
  font-size: x-large;
  font-style: normal;
}

#notification {
  width: 20px;
}
/* END */

/* Body START */

body {
  font-family: sans-serif;
}

#planner {
  position: relative;
  height: 20vw;
  text-align: center;
}
#planner img {
  margin: 0% auto;
  width: 100%;
  height: 100%;
}
#planner p {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  height: 30%;
  text-align: center;
  padding: 5px;
  font-size: 2vw;
  font-family: sans-serif;
  background-color: rgba(0, 0, 0, 0.507);
  color: white;
}
.button {
  border-style: none;
  background-color: white;
}

/* Cards START */
.card {
  border: 2px solid #ddd;
  padding: 1rem;
  border-radius: 6px;
  margin-bottom: 1.5em;
  transition: 0.5s linear;
  box-shadow: 2px 3px 12px rgba(1, 1, 1, 0.35);
}
.card-style {
  width: 23rem;
}
.card-info {
  height: 5rem;
}

#shopList {
  margin: 1vw auto;
}

#taskList {
  margin: 5px auto;
}

#card-img {
  height: 250px;
}
/* END */

/* END */

/* Footer START */

.footer {
  width: 100%;
  height: 15vw;
  background-color: rgba(0, 0, 0, 0.774);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.socialmedia {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 15px;
}

.subscribe {
  display: flex;
  justify-content: center;
  height: 5vw;
  gap: 50px;
}

#signup {
  width: 20vw;
}

.socialmedia p {
  width: 20px;
}

.footer-bottom {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
}

/* Footer END */

@media screen and (min-device-width: 360px) and (max-device-width: 759px) {
  .footer {
    height: 80vw;
  }
  .card-style {
    width: 18rem;
  }
  #signup {
    width: 60%;
    margin: 0px auto;
  }
  .container {
    width: 90%;
    margin: 0px auto;
  }
}

@media screen and (min-device-width: 760px) and (max-device-width: 1280px) {
  .footer {
    height: 30vw;
  }
  .card-style {
    width: 18rem;
  }
  #signup {
    width: 30vw;
  }
  .container {
    width: 90%;
    margin: 0px auto;
  }
}
