<div class="container mt-3">
  <img
    class="about-img"
    src="https://cdn.pixabay.com/photo/2016/06/25/12/48/go-pro-1478810_1280.jpg"
    alt=""
  />
  <div class="bg-body-secondary mt-3" style="--bs-bg-opacity: 0.7">
    <h1>About us:</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus voluptatem
      tempore ex corporis! Voluptatem quos possimus debitis reiciendis in ea
      quibusdam delectus ut sequi, quam excepturi enim ullam illo laborum. Atque
      reprehenderit libero perferendis reiciendis facilis, eos quas corrupti
      alias ducimus possimus placeat ad laudantium ut neque cupiditate illum
      quia et itaque incidunt distinctio ab. Blanditiis, accusamus. Esse, sed
      eum? Magnam dolorem cum veniam at iusto, ex facere numquam similique
      dolores natus possimus debitis consequatur voluptas sint expedita
      consectetur accusantium? Sunt quisquam excepturi aspernatur esse impedit
      itaque labore non qui. Assumenda sequi illum in officia eum accusantium
      esse possimus quae fuga iure modi aperiam tempore suscipit autem, ex
      voluptatem sint quaerat quod animi voluptas itaque expedita ipsum
      consequatur provident! Eaque? Nobis incidunt voluptatem dolorum error rem
      maxime odio quae vero modi delectus molestiae sed nam officia iusto
      debitis nihil, adipisci saepe explicabo magni repellat odit ipsum amet!
      Voluptatibus, explicabo nulla.
    </p>
  </div>
</div>
