<div class="container mt-3">
  <div class="row row-cols-3 row-gap-4">
    <div>
      <div class="card" style="width: 18rem">
        <img
          src="https://media.istockphoto.com/id/875273240/de/foto/spanische-st%C3%A4dte-la-sagrada-familia-barcelona-goldene-stunde.jpg?s=2048x2048&w=is&k=20&c=gZ164YrX0QAqyOc1YIIQ1wrZYZGSANSQj4rEA3ke_ZA="
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Barcelona</h5>
          <p class="card-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque iure
            deleniti ipsum, necessitatibus, nihil delectus ipsam nostrum
            provident, rerum commodi asperiores hic voluptatum repellendus vitae
            veritatis. Perspiciatis iste dolorem perferendis.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div>
      <div class="card" style="width: 18rem">
        <img
          src="https://media.istockphoto.com/id/493789220/de/foto/new-york-city-skyline-mit-der-freiheitsstatue-dem-world-trade-center.jpg?s=2048x2048&w=is&k=20&c=onlJshaSL6CM93S75iJ12cFNsTEUWOQ10iRBZ9GhVg4="
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">New York City</h5>
          <p class="card-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque iure
            deleniti ipsum, necessitatibus, nihil delectus ipsam nostrum
            provident, rerum commodi asperiores hic voluptatum repellendus vitae
            veritatis. Perspiciatis iste dolorem perferendis.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div>
      <div class="card" style="width: 18rem">
        <img
          src="https://cdn.pixabay.com/photo/2018/12/27/12/23/stockholm-3897532_1280.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Stockholm</h5>
          <p class="card-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque iure
            deleniti ipsum, necessitatibus, nihil delectus ipsam nostrum
            provident, rerum commodi asperiores hic voluptatum repellendus vitae
            veritatis. Perspiciatis iste dolorem perferendis.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div>
      <div class="card" style="width: 18rem">
        <img
          src="https://cdn.pixabay.com/photo/2014/05/26/09/58/sydney-opera-house-354375_1280.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Sydney</h5>
          <p class="card-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque iure
            deleniti ipsum, necessitatibus, nihil delectus ipsam nostrum
            provident, rerum commodi asperiores hic voluptatum repellendus vitae
            veritatis. Perspiciatis iste dolorem perferendis.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div>
      <div class="card" style="width: 18rem">
        <img
          src="https://cdn.pixabay.com/photo/2019/07/14/08/08/night-4336403_1280.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Tokyo</h5>
          <p class="card-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque iure
            deleniti ipsum, necessitatibus, nihil delectus ipsam nostrum
            provident, rerum commodi asperiores hic voluptatum repellendus vitae
            veritatis. Perspiciatis iste dolorem perferendis.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div>
      <div class="card" style="width: 18rem">
        <img
          src="https://cdn.pixabay.com/photo/2018/04/16/00/22/carousel-3323291_1280.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Vienna</h5>
          <p class="card-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque iure
            deleniti ipsum, necessitatibus, nihil delectus ipsam nostrum
            provident, rerum commodi asperiores hic voluptatum repellendus vitae
            veritatis. Perspiciatis iste dolorem perferendis.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
